.aboutMe {
  display: flex;
  border-radius: 24px;
  padding: 16px;
  background: radial-gradient(100% 100% at 50% 0,hsla(0,0%,100%,.07) 0,hsla(0,0%,100%,0) 100%),linear-gradient(103.94deg,hsla(0,0%,100%,.05) 7.66%,hsla(0,0%,100%,.02) 32.57%,hsla(0,0%,100%,.008) 72.45%,hsla(0,0%,100%,.05) 96.25%);
  border: 1px solid hsla(0,0%,100%,.07);
  flex-direction: column;
}
.head,
.bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bottom {
  padding: 32px;
  font-size: 36px;
  color: var(--softer-white);
  border-radius: 8px;
  background: #92929220;
  border-top-left-radius: 0px;
  border: 1px solid hsla(0, 0%, 100%, .07);
}
.head p {
  font-size: 64px;
  padding: 0 0.5em;
  color: var(--gray96);
  font-weight: 500;
  background: -webkit-linear-gradient(var(--soft-white), var(--gray96));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head .conteiner .title h1 {
  font-size: 28px;
  font-weight: 600;
}
.avatar {
  border-radius: 8px 8px 0 0;
  height: 296px;
  aspect-ratio: 1 / 1;
  transform: translate(0.5px, 1px);
  border: 1px solid hsla(0, 0%, 100%, .07);
  border-bottom: none;
}
.skillsWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}