
.work {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  position: relative;
  gap: 16px;
  --ss: #b8b8b8;
  --se: #868686;
  --es: #7C7C7C;
  --ee: #141414;
}
.work hr {
  position: absolute;
  left: -32px;
  top: 0px;
  width: 4px;
  transform: translateX(-50%);
  margin: 48px 0;
  border-radius: 50px;
  background: linear-gradient(180deg,
    rgba(232,232,232,1) 0%,
    rgba(183,183,183,1) 40%,
    rgba(13,13,13,0.65) 100%);
  height: calc(100% - 96px);
}
.work hr::before,
.work hr::after {
  content: '';
  position: absolute;
  display: flex;
  top: -32px;
  left: -6px;
  height: 16px;
  width: 16px;
  border: none;
  border-radius: 100%;
  background-color: var(--soft-white);
}

.work.impactium hr::after {
  bottom: -32px;
  background: #e8e8e80d;
  top: unset;
}
.work.impactium > hr::after,
.work.impactium .work.def > hr::after {
  border: 2px solid var(--soft-white);
  z-index: 2;
}
.work .work hr::before {
  top: 0px;
}
.work .work hr::after {
  bottom: 0px;
}
.work .work.datacode hr {
  background: linear-gradient(180deg,
    var(--ss) 0%,
    var(--se) 100%);
}
.work .work.def hr {
  background: linear-gradient(180deg,
    var(--es) 0%,
    var(--ee) 100%);
}
.work .work.datacode hr::before,
.work .work.datacode start::before {
  background: var(--ss);
}
.work .work.def hr::before,
.work .work.def start::before {
  background: var(--es);
}
.work .work.datacode end::before,
.work .work.datacode hr::after {
  background: var(--se);
}
.work .work.def end::before,
.work .work.def hr::after {
  background: var(--ee);
  z-index: -1;
}
.work start,
.work end {
  font-size: 24px;
  height: 24px;
  margin: 12px 0;
  display: flex;
}
.work .work end::before,
.work .work start::before {
  content: "";
  width: 28px;
  border-radius: 0 2px 2px 0;
  transform: translate(-66px, 10px);
  position: absolute;
  height: 4px;
}
.work .work hr {
  margin: 16px 0;
  height: calc(100% - 32px);
}
.heading {
  background: radial-gradient(100% 100% at 50% 0, hsla(0, 0%, 100%, .07) 0, hsla(0, 0%, 100%, 0) 100%), linear-gradient(103.94deg, hsla(0, 0%, 100%, .05) 7.66%, hsla(0, 0%, 100%, .02) 32.57%, hsla(0, 0%, 100%, .008) 72.45%, hsla(0, 0%, 100%, .05) 96.25%);
  border: 1px solid hsla(0, 0%, 100%, .07);
  padding: 0.5em 0.75em;
  border-radius: 0.66em;
  display: flex;
  flex-direction: column;
  gap: 0.5em
}
.heading .top {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  align-items: center;
}
.heading .top img {
  height: 92px;
}
.work .work .heading .top img {
  height: 64px;
}
.heading .top h3 {
  font-size: 92px;
  font-weight: 400;
  background: -webkit-linear-gradient(var(--soft-white), var(--gray48));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading .bottom {
  display: flex;
  flex-direction: row;
  gap: 32px
}
.heading .exp {
  display: flex;
  gap: 8px;
  flex-direction: row;
  filter: drop-shadow(0px 3px 2px #cccccc50) brightness(0.8);
  align-items: center;
  justify-content: center;
}
.heading .exp a,
.heading .exp p {
  font-size: 32px;
  font-weight: 500;
  color: var(--softer-white);
}
.heading .exp a {
  text-decoration: underline;
}
.heading .exp img {
  height: 38px !important;
}
.description {
  font-size: 32px;
  padding: 0 .75em;
  line-height: 1.375;
  text-rendering: optimizeLegibility;
  color: var(--softer-white)
}
.role {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  font-weight: 600;
  white-space: nowrap;
  gap: 8px;
  justify-content: center;
  border-radius: 50px;
  font-size: 32px;
}
.role.fullstack {
  color: #449d5d;
  background: #449d5d15;
}
.role.backend {
  background: #9162c015;
  color: #9162c0;
}
.role.community {
  background: #d1772415;
  color: #d17724;
}
.role.devops {
  background: #3b88e915;
  color: #3b88e9;
}
.role img {
  height: 48px !important;
}
.description span {
  margin-right: 8px;
  display: inline-flex;
  transform: translateY(6px);
  gap: 4px;
  flex-wrap: wrap;
  line-height: 1;
  align-items: center;
}
.description span img {
  height: 32px;
}
.description span.nest {
  color: #ea2845;
}
.description span.flutter {
  color: #45D1FD;
}
.description span.node {
  background: -webkit-linear-gradient(#6CC04A, #5F925D);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description span.next {
  color: #fff;
}
.description span.react {
  color: #4DCFE0;
}
.description span.mongodb {
  color: #4CAF50;
}
.description span.cockroachdb {
  color: #7DBC42;
}
.description span.docker {
  color: #099CEC;
}
.description span.k8s {
  color: #316CE5;
}
.description span.postgresql {
  color: #336791;
}
.description span.redis {
  color: #D82F27;
}
.description span.prisma {
  background: -webkit-linear-gradient(left, #fff, #0C354B);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description span.mysql {
  color: #E68F00;
}