.nav {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  flex-wrap: wrap;
}
.button {
  color: var(--soft-white);
  border-radius: 30px;
  font-weight: 600;
  text-wrap: nowrap;
  padding: 0.375em 0.75em;
  transition: all .3s var(--transition);
}
.button.active,
.button:hover {
  background-color: var(--soft-white);
  color: var(--soft-black);
}