.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  padding: 0 4px;
  height: 32px;
  background: var(--gray32);
  border: 1px solid hsla(0,0%,100%,.07);
  position: relative;
}
.skill.javascript p,
.skill.typescript p {
  position: absolute;
  opacity: 0;
}
.skill.next img {
  padding: 2px;
  filter: invert(100);
}
.skill img {
  aspect-ratio: 1 / 1;
  height: 24px;
  border-radius: 4px;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
.skill p {
  font-size: 14px;
  padding: 0 4px;
  font-weight: 600;
}
.skill.docker p {
  font-weight: 800;
}