@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  --black: #000000;
  --bg-color-velvet: #140B14;
  --gold-accent: #FFC300;
  --soft-white: #e8e8e8;
  --softer-white: #ccc;
  --soft-black: #0d0d0d;
  --gray16: #161616;
  --gray24: #242424;
  --gray32: #323232;
  --gray48: #484848;
  --gray64: #646464;
  --gray80: #808080;
  --gray96: #929292;
  --transition: cubic-bezier(.21,.29,0,.94);
}
#root {
  height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video, button, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: none;
	outline: none;
	-webkit-tap-highlight-color: none;
	border: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  background-color: var(--gray24);
  line-height: 1;
  width: 2480px;
  margin: 128px;
  height: 3508px;
  display: flex;
  flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  color: var(--soft-white);
  font-family: "Nunito", sans-serif;
  font-size: 48px;
  font-optical-sizing: auto;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.3px;
}
ul {
list-style: none;
}
main {
  min-height: 100%;
  padding: 64px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--soft-black);
  background-position: top;
  background-size: cover;
  background-repeat: repeat;
  gap: 32px;
}
left {
  flex: 0.4;
}
right {
  display: flex;
  flex-direction: column;
  flex: 0.6;
}

hr {
  width: 1px;
  height: 1px;
  border: none;
  border-radius: 2px;
  background-color: var(--soft-white);
  overflow: visible;
}
hr[align='horizontal'] {
  width: 100%;
}
hr[align='vertical'] {
  height: 100%;
}